<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922896371036-787psid43noe359f7csq2rpom5at5jrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922896371036-787psid43noe359f7csq2rpom5at5jrt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922896371036-r0tc1d5ba1sm194eld1l1lr5gm19m2m8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbFGzBAYxUk-Nq82rnNFp_fN4AtDY-Fk4</string>
	<key>GCM_SENDER_ID</key>
	<string>922896371036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.xuenqui.eventosdarepapp</string>
	<key>PROJECT_ID</key>
	<string>eventos-da-rep</string>
	<key>STORAGE_BUCKET</key>
	<string>eventos-da-rep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922896371036:ios:6ae3a49a5c866db37ec599</string>
</dict>
</plist>